<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Projects</title>
  <meta name="description" content="User`s boardlist">
  <meta name="author" content="Ahafonova Sofiia">
  <link type="text/css" href="stylesheets/style.css" rel="stylesheet" />
</head>
<body>
  <% include menu_bar.ejs%>
  <div class="main">  
     <h1>Personal projects</h1>
    <% for (let s of proj_arr) { %>
      <div class="projects">
        <a href = "projects/<%=s.id%>"><img src="<%= s.image %>"></a>
        <h2><a href = "projects/<%=s.id%>"><%=s.name%></a></h2>
      </div>
    <% } %>  
      <div class="projects">
        <div class="pagination">
          <% var i = 1;
          while (i <= pageNumber){%>
            <a href="?page=<%= i%>"><%= i%></a>
          <% i++;}%>
        </div>
      </div>
  </div>
</body>
</html>