<!doctype html>
<html lang="en">
<head>
  <% include partials/head.ejs%>
  <title><%= project.name %></title>
</head>
<body>
  <% include partials/menu_bar.ejs%>
  <div class="main">  
  <div class="projects">
      <h1 id="C0"><%=  project.name %></h1>
      <img src="data:image/jpg;base64,<%= new Buffer(project.image).toString('base64') %>">
      <table>
            <tr>
                <th>Description</th>
                <td><%= project.description %></td>
            </tr>
            <tr>
              <th>Status</th>
              <td><%= project.status %></td>
            </tr>
            <tr>
              <th>Team</th>
              <td><%= project.team %></td>
            </tr>
            <tr>
              <th>Rating</th>
              <td><%= project.rating %></td>
            </tr>
             <tr>
              <th>Access</th>
              <td><%= project.access %></td>
            </tr>
            <tr>
              <th>Man-hour</th>
              <td><%= project.man_hour %></td>
            </tr>
            <tr>
              <th>Start date</th>
              <td><time><%= project.start_date %></time></td>
            </tr>
            <tr>
              <th>Finish date</th>
              <td><time><%= project.finish_date %></time></td>
            </tr>
          </table>
          <%if(user && project.user == user.id){%>
            <form action="<%=project.id%>/remove" method="post">
                <center>	<button  type="submit" >Remove</button></center>
            </form>
          <%}%>
  </div>
  </div>
</body>
</html>