<!doctype html>
<html lang="en">
<head>
 <% include partials/head.ejs%>
  <title>Projects</title>
</head>
<body>
  <% include partials/menu_bar.ejs%>
  <div class="main">  
     <h1><%=title%></h1>
      <div class="projects">
       <%if(!proj_arr) {%>
          <h2>Ooops! There are no projects</h2>
       <% } else
         for (let s of proj_arr) { %>
             <a href = "<%=ref%><%=s.id%>"> <img src= "<%=s.image %>"></a>

              <h2><a href = "<%=ref%><%=s.id%>"><%=s.name%></a></h2>
          <% } %>
   
    <div class="pagination">
          <% var i = 1;
          while (i <= pageNumber){%>
            <a href="?page=<%= i%>"><%= i%></a>
          <% i++;}%>
    </div>
  </div>
</div>
 <% include partials/footer.ejs%>
</body>
</html>